<nav role="navigation">
	<ul>
		{{#if next}}
		<li class="next">
			<a href="{{page_url next}}">
				Next Posts<span class="indicator">&rsaquo;</span>
			</a>
		</li>
		{{/if}}
		{{#if prev}}
		<li class="previous">
			<a href="{{page_url prev}}">
				<span class="indicator">&lsaquo;</span>Previous Posts
			</a>
		</li>
		{{/if}}
		<li class="viewall">
			<a href="{{@blog.url}}">
				Page {{page}} of {{pages}}
			</a>
		</li>
	</ul>
</nav>
